/* dividing the body of the page into 3 segments */


body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    margin: 0;
    padding: 0;
}