{% extends "base/base.html" %}


{% block title %}All Rooms{% endblock  %}


{% block content %}

    {% include "base/header.html" %}
    {% include "base/sidebar.html" %}

    <main class="main" id="main">
        <div class="row">
            {% include "base/alert.html" %}
            {% if rooms %}
                    {% for room in rooms %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                {% if room.room_avatar %}
                                    <img src="{{room.room_avatar.url}}" class="img-rounded-circle" alt="">
                                {% else %}
                                    <img src="" class="img-rounded-circle" alt="No profile Found">
                                {% endif %}

                                <h3 class="card-title">Course Code:
                                    <span class="badge bg-primary text-light">{{room.course_code|truncatechars:7}}</span>
                                </h3>
                                <p class="card-text">
                                    <span class="text-primary">Course Title:</span>
                                    <b>{{room.course_title}}</b>
                                </p>
                                <p class="card-text">
                                    <span class="text-primary">Course Description:</span>
                                    {{room.description|truncatechars:20}}
                                </p>
                            </div>
                            {% if request.user == room.host %}
                                <div class="card-footer d-flex">
                                    <a href="{% url "delete_room" room.room_code %}" class="ms-auto btn-sm btn btn-danger">Delete</a>
                                    <a href="{% url "update_room" room.room_code %}" class="ms-md-2 btn-sm btn btn-warning">Update</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        <h1 class="text-center mt-md-5">No rooms Available</h1>
                        <div class="d-flex justify-content-center">
                            <a href="{% url "create_room" %}" class="btn btn-success w-25 ">Create Room</a>
                        </div>
                </div>

                
                
            </main>
            {% endif %}
            {% if rooms %}
            <nav class="d-flex" aria-label="Page navigation">
                <ul
                    class="pagination   ms-auto me-auto "
                >
                    {% if rooms.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ rooms.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page=1">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ rooms.paginator.num_pages }}">Last</a>
                    </li>
                    {% if rooms.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ rooms.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
    

{% endblock %}
