{% extends "base/base.html" %}

{% load widget_tweaks %}
{% load static %}

{% block title %}Room Messages{% endblock  %}

{% block content %}
    {% include "base/header.html" %}
    {% include "base/sidebar.html" %}

    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Room Messages</h1>
          <nav>
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Room Messages</li>
                </ol>
          </nav>
        </div><!-- End Page Title -->

        {% include "base/alert.html" %}

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    {% if room.room_avatar %}
                        <img src="{{room.room_avatar.url}}" class="img-rounded-circle" alt="">
                    {% else %}
                        <img src="" class="img-rounded-circle" alt="No profile Found">
                    {% endif %}                    
                    <div class="card-body">
                        <h4 class="card-title">Room Name: {{room.course_code|truncatechars:5}}</h4>
                        <p class="card-text text-primary">Room Description: <span class="text-dark">{{room.description|truncatechars:20}}</span></p>
                        <small class="card-text">Created By: <span class="badge bg-primary">{{room.host}}</span></small>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex">
                            <p class="card-text ms-auto"><small class="text-muted">{{room.created|date}}</small></p>
                        </div>
                    </div>
                </div>
                <div class="card message-card">
                    <div class="card-body">
                        <h4 class="card-title">People/Participants</h4>
                        {% if participants %}
                            {% for user in participants %}
                                
                                <p class="card-text fw-bolder">
                                    {{user.username}}
                                </p>
                            {% endfor %}
                        {% else %}
                        <div
                            class="alert alert-primary"
                            role="alert"
                        >
                            <strong>No Participant{{participants|pluralize}}</strong> Found
                        </div>
                    
                        
                        {% endif %}
                    </div>
                    
                </div>

                <!-- Resources Available-->
                <div class="card message-card">
                    <div class="card-body">
                        <h4 class="card-title">Resources Available</h4>
                        {% if resources %}
                            {% for resource in resources %}
                                
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Filename: <span class="badge bg-primary text-light">{{resource.filename}}</span></h4>
                                        <p class="card-text">Department: {{resource.department}}</p>
                                        <a href="{% url "download_reference_material" resource.id %}" class="btn btn-primary">Download</a>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-flex">
                                            <p class="card-text ms-auto"><small class="text-muted">Created on: {{resource.created|date}}</small></p>
                                            <div class="card-text ms-sm-2">Uploaded by: {{resource.author}}</div>
                                        </div>
                                    </div>
                                </div>
                                
                            {% endfor %}
                        {% else %}
                        <div
                            class="alert alert-primary"
                            role="alert"
                        >
                            <strong>No </strong>Resource{{resources|pluralize}} Found
                        </div>

                            {% if request.user == room.host or request.user.is_staff  %}
                                <a href="{% url 'update_room' room.room_code %}" class="btn btn-primary">Add Resources</a>
                            {% endif %}
                    
                        
                        {% endif %}
                    </div>
                    
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="card message-card">
                    <div class="card-body">
                        <h4 class="card-title">Room Chat</h4>
                        {% if get_messages %}
                            {% for message in get_messages %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card ">
                                            {% if message.user.account_type == "Lecturer" %}
                                            <div class="card-body bg-danger text-light rounded-3"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="left"
                                                title="Lecturer">
                                                    <div class="message-container d-flex">
                                                        <a href="{% url 'user_profile' message.user %}" class="badge bg-light text-dark mt-md-3">@{{message.user}}</a>
                                                        <div class="dropdown open ms-auto">
                                                            <a
                                                                class="dropdown-toggle btn-sm"
                                                                type="button"
                                                                id="triggerId"
                                                                data-bs-toggle="dropdown"
                                                                aria-haspopup="true"
                                                                aria-expanded="false">
                                                            
                                                            </a>
                                                            <div class="dropdown-menu" aria-labelledby="triggerId">
                                                                {% if message.user == request.user  or message.user == message.room.host.user %}
                                                                <a class="dropdown-item" href="{% url "delete_message" message.message_code %}">Delete</a>
                                                                <a class="dropdown-item" href="{% url "delete_message" message.message_code %}">Edit</a>
                                                                {% else %}
                                                                <a class="dropdown-item" href="#">Unauthorised</a>
                                                                {% endif %}
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    
                                                    <p class="card-text">{{message.body}}</p>
                                            </div>
                                            {% elif message.user.account_type == "Student" %}
                                            <div class="card-body text-light rounded-3"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="left"
                                                title="Student">
                                                <!--Drop Down Anchor-->
                                                <div class="message-container d-flex">
                                                    <a href="{% url 'user_profile' message.user %}" class="badge bg-light text-dark mt-md-3">@{{message.user}}</a>
                                                    <div class="dropdown open ms-auto">
                                                        <a
                                                            class="dropdown-toggle btn-sm"
                                                            type="button"
                                                            id="triggerId"
                                                            data-bs-toggle="dropdown"
                                                            aria-haspopup="true"
                                                            aria-expanded="false">
                                                           
                                                        </a>
                                                        <div class="dropdown-menu" aria-labelledby="triggerId">
                                                            {% if message.user == request.user or message.user == message.room.host.user%}
                                                                <a class="dropdown-item" href="{% url "delete_message" message.message_code %}">Delete</a>
                                                                <a class="dropdown-item" href="{% url "delete_message" message.message_code %}">Edit</a>
                                                            {% else %}
                                                                <a class="dropdown-item" href="#">Unauthorised</a>
                                                            {% endif %}
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <p class="card-text text-dark">{{message.body}}</p>
                                            </div>
                                            {% else %}
                                            <p>Invalid User</p>
                                            {% endif %}
                                            
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        
                        <div
                            class="alert alert-primary alert-dismissible fade show"
                            role="alert"
                        >
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"
                            ></button>
                            <strong>No message found</strong> for this classroom
                        </div>
                        
                        <script>
                            var alertList = document.querySelectorAll(".alert");
                            alertList.forEach(function (alert) {
                                new bootstrap.Alert(alert);
                            });
                        </script>
                        
                    
                        {% endif %}
                    </div>
                </div>
                <div class="card mb-md-5">
                    <div class="card-body">
                        <form action="" class="mt-4" method="POST">
                            {% csrf_token %}
                            <div class="input-group has-validation">
                                <div class="form-floating">
                                  {% render_field message_form.body rows="2" cols="2" class="form-control message-inp" name='message' id="floatingInput"  placeholder="Message.." %}
                                  <label for="floatingInput">Message..</label>
                                </div>
                                <button class="btn btn-primary btn-sm message-btn" type="submit">Send</button>
                            </div>

                        </form>
                    </div>
                </div>
                
                
            </div>
        </div>

{% endblock  %}


